* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #fffff8;
}
header {
  background-color: #fffaeb;
  padding: 0px 10px;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: sticky;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .logo img {
  height: auto;
  width: 120px;
  padding-left: 5px;
  margin-left: 5px;
}
header .logo h1 {
  font-size: 28px;
  font-family: "Gravitas One", serif;
  color: #483c42;
}
nav {
  display: flex;
  position: sticky;
  font-weight: bold;
  font-size: 13px;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: "Poppins", sans-serif;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0px;
  padding: 0px;
}
nav ul li a {
  text-decoration: none;
  color: #483c42;
  font-weight: 600px;
  transition: all 0.3s;
}
nav ul li a:hover {
  color:burlywood;
  text-decoration-line: underline;
}
.search-bar {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-right: 10px;
  margin-right: 10px;
}
.search-bar input[type="text"] {
  width: 200x;
  padding: 6px 5px;
  border: 1px solid #483c42;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}
.search-bar input[type="text"]:focus {
  outline: none;
  border-color: white;
}
.search-bar button {
  border: none;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #483c42;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition:  0.3s;
}
.search-bar button:hover {
  background-color:#ffd6d6;
}
#head2 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:#3f2f23;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    border-top: 10px solid #c86b4a;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}
#head2:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.btn-container {
    display: flex;
    justify-content: space-between;
    gap: 3px;
}
.btn-adopt {
    background-color: #7c8a6e;
    color: #fff;
    flex: 1;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600px;
    transition: all 0.3s ease;
}
.btn-adopt:hover {
    background-color: #6d7b63;
}
.ap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.adopt1 {
    background-color: #fff;
    width: 250px;
    height: 435px;
    border: 1px solid #545454;
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}
.adopt1:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);    
}
.adopt1 img {
    height: auto;
    width: 250px;
}
.adopt1 p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    padding-top: 10px;
    color:#666;
}
#n {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-weight: bold;
    font-size: 22.3px;
    padding-top: 5px;
    color: #3f2f23;
}
.adopt2 {
    background-color: #fff;
    width: 250px;
    height: 435px;
    border: 1px solid #545454;
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}
.adopt2:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);    
}
.adopt2 img {
    height: auto;
    width: 250px;
}
.adopt2 p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    padding-top: 10px;
    color:#666;
}
.adopt3 {
    background-color: #fff;
    width: 250px;
    height: 435px;
    border: 1px solid #545454;
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}
.adopt3:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);    
}
.adopt3 img {
    height: auto;
    width: 250px;
}
.adopt3 p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    padding-top: 10px;
    color:#666;
}
.adopt4 {
    background-color: #fff;
    width: 250px;
    height: 435px;
    border: 1px solid #545454;
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}
.adopt4:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);    
}
.adopt4 img {
    height: auto;
    width: 250px;
}
.adopt4 p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    padding-top: 10px;
    color:#666;
}
.adopt5 {
    background-color: #fff;
    width: 250px;
    height: 435px;
    border: 1px solid #545454;
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}
.adopt5:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);    
}
.adopt5 img {
    height: auto;
    width: 250px;
}
.adopt5 p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    padding-top: 10px;
    color:#666;
}
.adopt6 {
    background-color: #fff;
    width: 250px;
    height: 435px;
    border: 1px solid #545454;
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}
.adopt6:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);    
}
.adopt6 img {
    height: auto;
    width: 250px;
}
.adopt6 p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    padding-top: 10px;
    color:#666;
}
.adopt7 {
    background-color: #fff;
    width: 250px;
    height: 435px;
    border: 1px solid #545454;
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}
.adopt7:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);    
}
.adopt7 img {
    height: auto;
    width: 250px;
}
.adopt7 p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    padding-top: 10px;
    color:#666;
}
.adopt8 {
    background-color: #fff;
    width: 250px;
    height: 435px;
    border: 1px solid #545454;
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}
.adopt8:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);    
}
.adopt8 img {
    height: auto;
    width: 250px;
}
.adopt8 p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    padding-top: 10px;
    color:#666;
}
.adopt9 {
    background-color: #fff;
    width: 250px;
    height: 435px;
    border: 1px solid #545454;
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}
.adopt9:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);    
}
.adopt9 img {
    height: auto;
    width: 250px;
}
.adopt9 p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    padding-top: 10px;
    color:#666;
}
.adopt10 {
    background-color: #fff;
    width: 250px;
    height: 435px;
    border: 1px solid #545454;
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}
.adopt10:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);    
}
.adopt10 img {
    height: auto;
    width: 250px;
}
.adopt10 p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    padding-top: 10px;
    color:#666;
}
.adopt11 {
    background-color: #fff;
    width: 250px;
    height: 435px;
    border: 1px solid #545454;
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}
.adopt11:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);    
}
.adopt11 img {
    height: auto;
    width: 250px;
}
.adopt11 p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    padding-top: 10px;
    color:#666;
}
.adopt12 {
    background-color: #fff;
    width: 250px;
    height: 435px;
    border: 1px solid #545454;
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}
.adopt12:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);    
}
.adopt12 img {
    height: auto;
    width: 250px;
}
.adopt12 p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    padding-top: 10px;
    color:#666;
}
footer {
  background-color: #483c42;
  padding: 15px;
  margin: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}
.footer-about {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
}
.footer-about img {
  height: auto;
  width: 150px;
}
.footer-about p {
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  color: #fffaeb;
}