* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fffff8;
  color: #fff5b8;
  overflow-x: hidden;
}
header {
  background-color: #fffaeb;
  padding: 0px 10px;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: sticky;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .logo img {
  height: auto;
  width: 120px;
  padding-left: 5px;
  margin-left: 5px;
}
header .logo h1 {
  font-size: 28px;
  font-family: "Gravitas One", serif;
  color: #483c42;
}
nav {
  display: flex;
  position: sticky;
  font-weight: bold;
  font-size: 13px;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: "Poppins", sans-serif;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0px;
  padding: 0px;
}
nav ul li a {
  text-decoration: none;
  color: #483c42;
  font-weight: 600px;
  transition: all 0.3s;
}
nav ul li a:hover {
  color:burlywood;
  text-decoration-line: underline;
}
.search-bar {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-right: 10px;
  margin-right: 10px;
}
.search-bar input[type="text"] {
  width: 200px;
  padding: 6px 5px;
  border: 1px solid #483c42;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}
.search-bar input[type="text"]:focus {
  outline: none;
  border-color: white;
}
.search-bar button {
  border: none;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #483c42;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition:  0.3s;
}
.search-bar button:hover {
  background-color:#ffd6d6;
}
.masuk .form {
    width:500px;
    border: 1px solid #483c42;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
}
.masuk .form input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-top: 25px;
    box-sizing: border-box;
}
.masuk .form button {
    width: 100%;
    height: 30px;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.masuk .form button:hover {
    background-color: antiquewhite;
    border: 1px solid #483c42;
}
.masuk .form h3 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color:lightblue;
    padding: 10px;
    text-align: center; 
}